---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Custom font
$global-font-family: "Palatino Linotype", "Palatino", "Book Antiqua", Georgia, serif;
$header-font-family: "Palatino Linotype", "Palatino", "Book Antiqua", Georgia, serif;

// Smaller base font size
$type-size-1: 1.4em;
$type-size-2: 1.1em;
$type-size-3: 1em;
$type-size-4: 0.85em;
$type-size-5: 0.75em;
$type-size-6: 0.65em;
$type-size-7: 0.55em;
$type-size-8: 0.5em;

// 80% width content
$max-width: 80%;
$right-sidebar-width-narrow: 180px;
$right-sidebar-width: 200px;
$right-sidebar-width-wide: 220px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// Additional custom styles
html {
  font-size: 14px;
}

body {
  line-height: 1.4;
}

.page__content {
  font-size: 0.9em;
  line-height: 1.4;
}

.page__content p {
  margin-bottom: 0.8em;
  line-height: 1.4;
}

.page__content ul, .page__content ol {
  margin-bottom: 0.8em;
  line-height: 1.4;
}

.page__content li {
  margin-bottom: 0.3em;
}

.author__bio {
  font-size: 0.8em;
  line-height: 1.3;
}

.page__title {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.1em;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 0.95em;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.page {
  padding-right: 0;
}

.page__inner-wrap {
  max-width: 80%;
}

.sidebar {
  padding-right: 1em;
}
